# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
coverage/

# artifacts
dist/

# misc
**/.DS_Store
**/.vs
**/.idea

# secrets
.env
.envrc
